<!-- updateHotel.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/css/hotel.css">
  <title>Update Hotel</title>
</head>
<body>
<h1>Update Hotel</h1>
<form id="update-hotel-form">
  <input type="hidden" id="update-hotel-id">
  <label>Name: <input type="text" id="update-hotel-name"></label><br>
  <label>Street: <input type="text" id="update-hotel-street"></label><br>
  <label>City: <input type="text" id="update-hotel-city"></label><br>
  <label>Zip: <input type="text" id="update-hotel-zip"></label><br>
  <label>Country: <input type="text" id="update-hotel-country"></label><br>
  <label>Room amount: <input type="text" id="update-room-amount"></label><br>
  <button type="button" onclick="performUpdate()">Update Hotel</button>
</form>
<script src="../js/js2/hotel.js"></script>
</body>
</html>
